{% extends "base.html" %}

{% block title %}
{{ SITENAME }}
{% endblock %}

{% block content %}
<div id="particles-js" class="cover-color"></div>
<header id="header-menu">
  <div class="logo-container">
    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/LogoT.png" alt="Marsbot">
  </div>
  <div id="menu-container">
    <div id="menu-toggle">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
    </div>
    <nav>
      <ul id="menu" role="navigation" class="hidden">
        <li><a href="#presentation">Inicio</a></li>
        <li><a href="#services">Servicios</a></li>
        <li><a href="#showcase">Clientes</a></li>
        <li><a href="https://blog.marsbot.space">Blog</a></li>
        <li><a href="#contact">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>
<main id="content">
  <section id="presentation" class="container">
    <header>
      <img id="logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/LogoWhite.png" alt="Marsbot">
      <div id="up-slide">
        <h2>Desarrollo Web</h2>
        <h2>Marketing</h2>
        <h2>Desarrollo Movil</h2>
        <h2>Estrategia</h2>
        <h2>Diseño</h2>
      </div>
    </header>
    <main>
      <h3 class="fromTopOut" data-scroll="once, toggle(.fromTopIn, .fromTopOut)">Diseño web + Marketing Digital + Contenido web + Animación</h3>
      <h4 class="fromTopOut" data-scroll="once, toggle(.fromTopIn, .fromTopOut)">Win - Mac - Android - iOS</h4>
      <p class="fromTopOut" data-scroll="once, toggle(.fromTopIn, .fromTopOut)">Somos una empresa dedicada a las artes visuales digitales que busca, con la simplesa del diseño, captar a su cliente potencial, dedicando lo mejor de nostros porque su proyecto es nuestro proyecto.</p>
    </main>
    <footer class="scaleUpOut" data-scroll="once, toggle(.scaleUpIn, .scaleUpOut)">
      <a href="#services">
        <div class="arrow"></div>
      </a>
    </footer>
  </section>
  <section id="services">
    <h1 data-scroll="once, toggle(.fromTopIn, .fromTopOut)">Servicios</h1>
    <main>
      <div id="planetWebDevelopment" class="planet planet1" data-scroll="once, toggle(.scaleUpIn, .scaleUpOut)">
        <h3>Desarrollo web</h3>
      </div>
      <div id="planetDesign" class="planet planet2" data-scroll="once, toggle(.scaleUpIn, .scaleUpOut)">
        <h3>Diseño</h3>
      </div>
      <div id="planetDigitalMarketing" class="planet planet3" data-scroll="once, toggle(.scaleUpIn, .scaleUpOut)">
        <h3>Marketing Digital</h3>
      </div>
      <div id="planetMobileWeb" class="planet planet4" data-scroll="once, toggle(.scaleUpIn, .scaleUpOut)">
        <h3>Web Móvil</h3>
      </div>
      <div id="planetContentCreation" class="planet planet5" data-scroll="once, toggle(.scaleUpIn, .scaleUpOut)">
        <h3>Creación de contenidos</h3>
      </div>
      <div id="planetUX" class="planet planet6" data-scroll="once" data-scroll="toggle(.scaleUpIn, .scaleUpOut)">
        <h3>UX</h3>
      </div>
      <div id="planetAnimation" class="planet planet7" data-scroll="once" data-scroll="toggle(.scaleUpIn, .scaleUpOut)">
        <h3>Animación</h3>
      </div>
    </main>
  </section>
  <section id="showcase">
    <div class="container">
      <h1 class="fromTopOut" data-scroll="once, toggle(.fromTopIn, .fromTopOut)">Clientes</h1>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-scroll="once, toggle(.fromTopIn, .fromTopOut)">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-xs"><img class="img-fluid"  src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/Mae.png"/></div>
              <div class="col-xs"><img class="img-fluid"  src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/GrupoLava.png"/></div>
              <div class="col-xs"><img class="img-fluid"  src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/MovimientoVital.png"/></div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-xs"><img class="img-fluid"  src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/3DMakers.png"/></div>
              <div class="col-xs"><img class="img-fluid"  src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/GrupoLava.png"/></div>
              <div class="col-xs"><img class="img-fluid"  src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/MovimientoVital.png"/></div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="icon-prev" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="icon-next" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>
  <section id="contact">
    <h1 class="fromTopOut" data-scroll="once, toggle(.fromTopIn, .fromTopOut)">Contacto</h1>
    <div class="row">
      <div class="offset-xs-1 col-xs-10 col-md-8" class="fromTopOut" data-scroll="once, toggle(.fromTopIn, .fromTopOut)">
        <div class="row">
          <form class="col-xs flex-xs-middle" action="index.html" method="post">
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo Electronico">
            </div>
            <div class="form-group">
              <textarea placeholder="Asunto" class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <button type="button" class="btn">Enviar</button>
          </form>
        </div>
      </div>
      <div class="offset-xs-1 offset-md-0 col-md-3" class="fromTopOut" data-scroll="once, toggle(.fromTopIn, .fromTopOut)">
        <div class="contact-text">
          <h3>Informes</h3>
          <p>Gildardo Adrian Maravilla Jacome</p>
          <p>Telefono: 22 26 32 23 52</p>
          <p>Correo Electronico: contacto@marsbot.space</p>
        </div>
      </div>
    </div>
    <canvas id="car" style="display: block"></canvas>
  </section>
  <section id="footer">
    <footer>
      <div class="container">
      </div>
    </footer>
  </section>
</main>
<div id="webDevelopmentModal" class="modal-demo">
  <button type="button" class="close" onclick="Custombox.close();">
    <span>×</span><span class="sr-only">Close</span>
  </button>
  <h3 class="title">Desarrollo Web</h3>
  <div class="text">
    <p>Empleamos las mejores tecnologías para satisfacer sus necesidades, complacer a sus clientes y hacer crecer su negocio. Ya se trate de una aplicación web compleja y de gran escala, o un sitio web de de alta calidad optimizada para los buscadores, nosotros agregamos el valor que su negocio y marca necesitan.</p>
    <h4 class="subtitle">¿Por qué nosotros?</h4>
    <p>Todo se trata de identificar y atacar los problemas que desea resolver. Nosotros inciamos con una discusión preliminar, y trabajamos con su equipo para establecer los requisitos que su proyecto deberá cumplir. Partiendo de ahí, analizaremos las cosas a través de nuestro proceso de descubrimiento para identificar las tecnologías apropiadas que satisfagan sus especificaciones.</p>
    <h4 class="subtitle">Tecnologías</h4>
    <p>Cuando se trata de desarrollo web nuestro equipo utiliza metodologías ágiles que son independientes de la tecnología utilizada. Nosotros utilizaremos las herramientas adecuadas para usted y su negocio. Algunas de nuestras favorites incluyen Jacascript, Node.js, React, Angular, Ruby, Sinatra, Python, Flask, Django, HTML/CSS, AWS, Heroku, Wordpress y Celery.</p>
  </div>
</div>
<div id="designModal" class="modal-demo">
  <button type="button" class="close" onclick="Custombox.close();">
    <span>x</span><span class="sr-only">Close</span>
  </button>
  <h3 class="title">Diseño</h3>
  <div class="text">
    <p>Mediante metodologías de diseño interactivas y estudios de usuarios, creamos y mejoramos identidades de marca.</p>
    <h4 class="subtitle">¿Por qué nosotros?</h4>
    <p>Nuestros proceso de diseño se centra en la narración de su historia. Hacemos esto al introducirnos en la temática de su negocio, y comprender la manera en que sus usuarios y cliente se relacionan con su identidad digital.</p>
    <p>Siguiendo este principio exploramos su historia, su mercado, su equipo, su marca y su misión y visión subyacentes. Estos elementos son habilmente amalgamados, mediante procesos iterativos, para expresar el propósito y valor de su marca.</p>
  </div>
</div>
<div id="digitalModal" class="modal-demo">
  <button type="button" class="close" onclick="Custombox.close();">
    <span>x</span><span class="sr-only">Close</span>
  </button>
  <h3 class="title">Marketing Digital</h3>
  <div class="text">
    <p>Mediante publicidad en línea, creación de contenido y segmentación de mercado, usamos las mejores estrategias para expandir la presencia de su marca y atraer a un mayor número de clientes.</p>
    <h4 class="subtitle">¿Por qué nosotros?</h4>
    <p>Para realizar marketing de forma eficiente en los medios digitales, nosotros trabajamos con usted para identificar su cliente ideal. Aprendemos todo lo posible sobre su mercado objetivo para identificar sus necesidades y gustos.</p>
    <p>Una vez que contamos con esa información comenzamos a probar diversas soluciones para determinar que es lo que sus clientes buscan de forma precisa. Eso nos permite alcanzar a su público meta de forma efectiva, aumentar la interacción y mejorar el proceso de toma de decisión de sus clientes para incrementar sus ventas.</p>
  </div>
</div>
<div id="mobileWebModal" class="modal-demo">
  <button type="button" class="close" onclick="Custombox.close();">
    <span>x</span><span class="sr-only">Close</span>
  </button>
  <h3 class="title">Web Móvil</h3>
  <div class="text">
    <p>Ya sea una aplicación nativa iOS y Android, o una aplicación web movil, nosotros construimos soluciones para dispositivos de todo tipo y tamaño.</p>
    <h4 class="subtitle">¿Por qué nosotros?</h4>
    <p>Además de acompañarlo en su visión y transformarla en realidad, implementamos servicios para su aplicación móvil siguiendo las mejores prácticas. Distribuimos su aplicación en las tiendas de Apple y Google para satisfacer a todos sus clientes.</p>
    <p>No solo tenemos una visión única sobre las complejidades y retos que conllevan el desarrollo móvil, también entendemos el impacto que puede tener una estrategía tecnológica basada en aplicaciones y la forma en que puede en su negocio.</p>
  </div>
</div>
<div id="contentCreationModal" class="modal-demo">
  <button type="button" class="close" onclick="Custombox.close();">
    <span>x</span><span class="sr-only">Close</span>
  </button>
  <h3 class="title">Creación de contenido</h3>
  <div class="text">
    <p>Usando contenidos creados especificamente para su nicho de mercado, logramos crear una conexión entre su público objetivo y su marca.</p>
    <h4 class="subtitle">¿Por qué nosotros?</h4>
    <p>La mejor forma de crear contenidos funcionales es conocer la forma en que sus prospectos consumen información. Nosotros identificamos, estudiamos y analizamos el comportamiento de sus usuarios para determinar la estrategia de comunicación necesaria para usted.</p>
    <p>Cuando nos acercamos a sus clientes, su marca es capaz de crear resonancia en sus intereses y canalizar a una audiencia cada vez mayor hacia sus servicios ofreciendo una propuesta de valor que influye en la toma de decisiones y compras de sus clientes.</p>
  </div>
</div>
<div id="animationModal" class="modal-demo">
  <button type="button" class="close" onclick="Custombox.close();">
    <span>x</span><span class="sr-only">Close</span>
  </button>
  <h3 class="title">Animación</h3>
  <div class="text">
    <p>Con el uso de las tecnologías más actuales permitimos plasmar sus ideas en animaciones digitales. Desde producción de video hasta animaciones interactivas, nosotros le proporcionamos lo neceseria para dinamizar su marca.</p>
    <h4 class="subtitle">¿Por qué nosotros?</h4>
    <p>La forma de interactuar con sus usuarios requiere de una mayor interacción. Al integrar animaciones no solo crea la sensación de movimiento a su identidad digital, también logra capturar la atención de sus clientes. Con atención haste del último detalle, las animaciones que desarrollamos le permiten plasmar sus ideas de una forma innovadora y práctica. </p>
  </div>
</div>
<div id="UXModal" class="modal-demo">
  <button type="button" class="close" onclick="Custombox.close();">
    <span>x</span><span class="sr-only">Close</span>
  </button>
  <h3 class="title">Diseño de experiencias</h3>
  <div class="text">
    <p>El diseño de experiencias es un proceso que mejora la forma en la que sus usuarios interaccionan con su marca. Mediante análisis de usabilidad y accesibilidad, descubrimos los problemas que sus clientes tienen al acercarse a su identidad digital.</p>
    <h4 class="subtitle">¿Por qué nosotros?</h4>
    <p>Al estudiar la forma en que sus usuarios interactuán con su marca podemos descubrir aquellas cuales son los mayores desafios a los que se enfrentan al entrar en contacto con su imagen digital. Conocer estos problemas nos permite desarrollar soluciones adaptadas a sus necesidades específicas y continuar evaluando de forma continua la manera en que sus clientes consumen sus servicios digitales.</p>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/particles.min.js"></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/particlesjson.js"></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/main.js"></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/menu.js"></script>
<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<!--<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/animation.js"></script>-->
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/scrolltrigger.min.js"></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/scrolleffects.js"></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/dialogmodal.min.js"></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/dialogs.js"></script>
{% endblock %}
