// Border-box model
* {
  box-sizing: border-box;
}

// Typography styles
body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size-adjust: 0.5;
  color: #fff;
}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    line-height: 1.05;
  }
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
  }
}

blockquote {
  font-size: 1.25em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    line-height: 1.45833333;
  }
}

a,
a:hover,
a:focus,
a.focus {
  outline: 0;
  color: inherit;
}

a:active,
a.active {
  outline: 0;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
}


h1,
h2 {
  letter-spacing: 10px;
  text-transform: uppercase;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 30px;
  text-align: center;
}

p {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.3);
}

//botones
.btn {
  color: #fff;
  background-image: none;
  background-color: transparent;
  position: relative;
  border-color: #fff;
  transition: background-color 0.3s ease;
}

.btn:hover {
  color: #fff;
  background-image: none;
  background-color: green;
  border-color: green;
  transition: background-color 0.3s ease;
}

//cover particles js

#content {
  background: linear-gradient(to bottom,
  rgba(0, 0, 0, 0) 0%,
  rgba(147, 223, 219, 0.7) 50%,
  rgba(123, 238, 239, 0.85) 75%,
  rgba(123, 238, 239, 1) 85%
  );

  &.blur {
    filter: blur(8px);
  }
}

#particles-js {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #012228;
}

#header-menu {
  .logo-container {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 25px;
    height: 80px;
    width: 100px;
    border-radius: 0 0 45% 45%;
    z-index: 11;

    @media (min-width: 600px) {
      left: 50px;
      height: 150px;
      width: 150px;
    }

    img {
      margin: 0 15px 0 15px;
      width: 70px;

      @media(min-width: 600px) {
        width: 100px;
        margin: 25px;
      }
    }
  }

  #menu-container {
    display: flex;
    align-items: center;
    justify-content: center;

    &.on {
      z-index: 10;
      width: 100%;
      height: 100%;
      background-color: rgba(41, 109 , 134, 0.5);
      position: fixed;
      text-transform: uppercase;
    }

    nav {
      width: 100%;
    }
  }

  #menu-toggle {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 10px;
    right: 25px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 20%;
    padding: 10px;
    z-index: 5;

    @media(min-width: 600px) {
      top: 30px;
    }

    &.on {
      .one {
        transform: rotate(45deg) translate(7px, 7px);
      }

      .two {
        opacity: 0;
      }

      .three {
        transform: rotate(-45deg) translate(8px, -10px);
      }
    }
  }

  .one,
  .two,
  .three{
    width: 100%;
    height: 3px;
    background: #000;
    margin: 8px auto;
    backface-visibility: hidden;
    transition-duration: 0.3s;
  }

  #menu {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 4em auto;
    text-align: center;
    font-weight: 200;
    width: 100%;

    &.hidden {
      display: none;
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 3em;
      line-height: 1.5;
      width: 100%;
      display: block;
      transition-duration: 0.5s;
      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

//cuerpo
#content {
  position: relative;
  z-index: 2;
}

#presentation {
  padding-top: 200px;
  min-height: 750px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media(min-width: 600px) {
    padding-top: 0;
  }

  main {
    padding: 0 3em;

    &:before {
      content: " ";
      display: block;
      margin: 2em auto;
      width: 30px;
      height: 10px;
      border-style: solid;
      border-color: #fff;
      border-width: 2px 0 2px 0;
    }
  }

  #logo {
    margin: 2em auto;
    max-width: 150px;
  }

  #up-slide {
    height: 44px;
    overflow: hidden;
    width: 100%;

    @media (min-width: 750px) {
      height: 82px;
    }

    h1,
    h2 {
      padding: 0;
      font-size: 34px;
      line-height: 1.1;
      margin: 8px auto;
      font-weight: 200;
      letter-spacing: 5px;
      text-transform: none;
      transition: margin 2s ease-in-out;

      @media (min-width: 750px) {
        font-size: 64px;
        margin: 16px auto;
      }
    }
  }

  main {
    h3 {
      font-weight: 100;
    }
    p {
      font-weight: 200;
    }

    h3,
    h4 {
      margin: 1em auto;
    }

    h4 {
      font-style: italic;
    }
  }

  footer {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 0 40px;

    .arrow {
      width: 10px;
      height: 10px;
      margin-top: 10px;
      border-style: solid;
      border-width: 10px;
      border-color: #fff transparent transparent transparent;
    }
  }
}

#services {
  height: 100%;
  min-height: 500px;
  text-align: center;
  position: relative;

  main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 800px;
  }

  .planet {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 150px;
    width: 150px;
    margin: 25px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 2;

    h3 {
      font-size: 22px;
    }
  }

  .planet1 {
    background-size: cover;
    background-image: url("./images/Planeta1.png");
    background-repeat: no-repeat;
    background-position: bottom;
    &:before {
      content: "";
      position: absolute;
      box-sizing: content-box;
      top: -15px;
      left: -15px;
      height: 150px;
      width: 150px;
      border-color: rgba(255, 255, 255, 0);
      border-width: 15px;
      border-style: solid;
      border-radius: 50%;
      animation: glow 1.8s infinite;
      animation-delay: 0s;
      z-index: 1;
    }
  }
  .planet2 {
    background-size: cover;
    background-image: url("./images/Planeta2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    &:before {
      content: "";
      position: absolute;
      box-sizing: content-box;
      top: -15px;
      left: -15px;
      height: 150px;
      width: 150px;
      border-color: rgba(255, 255, 255, 0);
      border-width: 15px;
      border-style: solid;
      border-radius: 50%;
      animation: glow 1.8s infinite;
      animation-delay: 0.45s;
      z-index: 1;
    }
  }
  .planet3 {
    background-size: cover;
    background-image: url("./images/Planeta3.png");
    background-repeat: no-repeat;
    background-position: bottom;
    &:before {
      content: "";
      position: absolute;
      box-sizing: content-box;
      top: -15px;
      left: -15px;
      height: 150px;
      width: 150px;
      border-color: rgba(255, 255, 255, 0);
      border-width: 15px;
      border-style: solid;
      border-radius: 50%;
      animation: glow 1.8s infinite;
      animation-delay: 0.9s;
      z-index: 1;
    }
  }
  .planet4 {
    background-size: cover;
    background-image: url("./images/Planeta4.png");
    background-repeat: no-repeat;
    background-position: bottom;
    &:before {
      content: "";
      position: absolute;
      box-sizing: content-box;
      top: -15px;
      left: -15px;
      height: 150px;
      width: 150px;
      border-color: rgba(255, 255, 255, 0);
      border-width: 15px;
      border-style: solid;
      border-radius: 50%;
      animation: glow 1.8s infinite;
      animation-delay: 0.35s;
      z-index: 1;
    }
  }
  .planet5 {
    background-size: cover;
    background-image: url("./images/Planeta5.png");
    background-repeat: no-repeat;
    background-position: bottom;
    &:before {
      content: "";
      position: absolute;
      box-sizing: content-box;
      top: -15px;
      left: -15px;
      height: 150px;
      width: 150px;
      border-color: rgba(255, 255, 255, 0);
      border-width: 15px;
      border-style: solid;
      border-radius: 50%;
      animation: glow 1.8s infinite;
      animation-delay: 0.8s;
      z-index: 1;
    }
  }
  .planet6 {
    background-size: cover;
    background-image: url("./images/Planeta6.png");
    background-repeat: no-repeat;
    background-position: bottom;
    &:before {
      content: "";
      position: absolute;
      box-sizing: content-box;
      top: -15px;
      left: -15px;
      height: 150px;
      width: 150px;
      border-color: rgba(255, 255, 255, 0);
      border-width: 15px;
      border-style: solid;
      border-radius: 50%;
      animation: glow 1.8s infinite;
      animation-delay: 0.25s;
      z-index: 1;
    }
  }
  .planet7 {
    background-size: cover;
    background-image: url("./images/Planeta7.png");
    background-repeat: no-repeat;
    background-position: bottom;
    &:before {
      content: "";
      position: absolute;
      box-sizing: content-box;
      top: -15px;
      left: -15px;
      height: 150px;
      width: 150px;
      border-color: rgba(255, 255, 255, 0);
      border-width: 15px;
      border-style: solid;
      border-radius: 50%;
      animation: glow 1.8s infinite;
      animation-delay: 0.7s;
      z-index: 1;
    }
  }
}

#showcase {
  .carousel {
    margin: 0 auto;
    padding: 40px 40px 40px 40px;
    max-width: 600px;
  }

  .carousel-control.right, .carousel-control.left  {
    background-image: none;
  }

  .carousel-control.left {
    left: -30px;
  }
  .carousel-control.right {
    right: -30px;
  }

  /* Changes the colour of the indicators */
  .carousel-indicators {
    bottom: 0;
  }
  .carousel-indicators li {
    background: transparent;
    transition: all 0.3s ease-in-out;
  }
  .carousel-indicators .active {
    background: #fff;
    transition: all 0.3s ease-in-out;
  }
}

#contact {
  min-height: 970px;
  background-size: 100% auto;
  background-image: url("./images/Ciudad.png");
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 2em;
  overflow: hidden;

  #car {
    position: relative;;
    bottom: -475px;
  }

  h1 {
    margin-bottom: 150px;
  }

  .row {
    min-height: 315px;
  }

  .contact-text {
    position: relative;
    top: 40px;
  }

  .form-control {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.65);
    border-color: #fff;
    transition: all 0.3s ease-out;
  }
  .form-control:focus {
    background-color: #fff;
    color: #000;
    border-color: #fff;
    transition: all 0.3s ease-out;
  }
  .btn {
    color: #fff;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: relative;
    border-color: #fff;
    transition: background-color 0.3s ease;
  }
  .btn:hover {
    color: #fff;
    background-image: none;
    background-color: green;
    border-color: green;
    transition: background-color 0.3s ease;
  }
  h4 {
    font-weight: 200;
    line-height: 1.4;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.3);
  }
  h3 {
    font-size: 34px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.3);
  }
}

#footer {
  background-color: darken(#342A29, 4%);
  min-height: 100px;
  .container {
    .row {
      height: 200px;
      .center-flex {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        span {
          display: -webkit-box;
          .circulo {
            background-color: #fff;
            width: 50px;
            height: 50px;
            padding: 9px;
            margin: 0px;
            border-radius: 50%;
            margin-left: 15px;
          }
        }
      }
      .footer-items {
        h2 {
          padding: 10px;
          font-size: 20px;
          border-bottom: 1px solid #fff;
          border-width: 80%;
        }
      }
    }
  }
}

.grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

@keyframes glow {
  0% {
    border-color: rgba(255, 255, 255, 0.03);
  }
  10% {
    border-color: rgba(255, 255, 255, 0.06);
  }
  20% {
    border-color: rgba(255, 255, 255, 0.09);
  }
  30% {
    border-color: rgba(255, 255, 255, 0.12);
  }
  40% {
    border-color: rgba(255, 255, 255, 0.15);
  }
  50% {
    border-color: rgba(255, 255, 255, 0.18);
  }
  60% {
    border-color: rgba(255, 255, 255, 0.15);
  }
  70% {
    border-color: rgba(255, 255, 255, 0.12);
  }
  80% {
    border-color: rgba(255, 255, 255, 0.09);
  }
  90% {
    border-color: rgba(255, 255, 255, 0.06);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.03);
  }
}

.invisible {
    transition: opacity 0.5s ease;
    opacity: 0.0;
}

.visible {
    transition: opacity 0.5s ease;
    opacity: 1.0;
}

.scaleUpIn {
    transition: transform 1s ease 0.5s, opacity 1s ease 0.5s;
    transform: scale(1,1);
    opacity: 1;
}

.scaleUpOut {
    transition: transform 2s ease, opacity 1s ease 0.5s;
    transform: scale(1.5, 1.5);
    opacity: 0;
}

.fromTopIn {
    transition: transform 2.5s ease, opacity 2.5s ease;
    transform: translate(0, 0);
    opacity: 1;
}

.fromTopOut {
    transition: transform 2s ease, opacity 1s ease 0.5s;
    transform: translate(0, -25px);
    opacity: 0;
}
